/* MonaspaceNeon Nerd Font Family */

/* Standard Weight Variants - Normal Width */
@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

/* Semi-Wide Variants */
@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideSemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: 112.5%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-SemiWideExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
  font-stretch: 112.5%;
  font-display: swap;
}

/* Wide Variants */
@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideSemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: 125%;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("./fonts/MonaspaceNeonNF-WideExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-stretch: 125%;
  font-display: swap;
}
