@font-face {
  font-family: 'Monaspace Neon';
  src: url('./fonts/MonaspaceNeon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  font-family: 'Monaspace Neon', monospace;
  font-size: 25px;
}
