@theme {
	/* Fonts */
	--font-sans: 'Montserrat', sans-serif;
	--font-body: 'Open Sans', sans-serif;

	/* Colors */
	--color-*: initial;

	/* Gunmetal */
	--color-gunmetal: #1f2937;
	--color-gunmetal-100: #06080b;
	--color-gunmetal-200: #0c1116;
	--color-gunmetal-300: #131921;
	--color-gunmetal-400: #19212c;
	--color-gunmetal-500: #1f2937;
	--color-gunmetal-600: #3e526e;
	--color-gunmetal-700: #5c7aa4;
	--color-gunmetal-800: #93a6c2;
	--color-gunmetal-900: #c9d3e1;

	/* Rich Black */
	--color-rich-black: #111827;
	--color-rich-black-100: #030508;
	--color-rich-black-200: #070a10;
	--color-rich-black-300: #0a0e17;
	--color-rich-black-400: #0e131f;
	--color-rich-black-500: #111827;
	--color-rich-black-600: #2d3f66;
	--color-rich-black-700: #4866a5;
	--color-rich-black-800: #8197c8;
	--color-rich-black-900: #c0cbe3;

	/* Seasalt */
	--color-seasalt: #f9fafb;
	--color-seasalt-100: #28323c;
	--color-seasalt-200: #506478;
	--color-seasalt-300: #8196ab;
	--color-seasalt-400: #bdc8d3;
	--color-seasalt-500: #f9fafb;
	--color-seasalt-600: #fafbfc;
	--color-seasalt-700: #fbfcfd;
	--color-seasalt-800: #fdfdfd;
	--color-seasalt-900: #fefefe;

	/* Pumpkin */
	--color-pumpkin: #ff6b00;
	--color-pumpkin-100: #331500;
	--color-pumpkin-200: #662b00;
	--color-pumpkin-300: #994000;
	--color-pumpkin-400: #cc5500;
	--color-pumpkin-500: #ff6b00;
	--color-pumpkin-600: #ff8833;
	--color-pumpkin-700: #ffa666;
	--color-pumpkin-800: #ffc499;
	--color-pumpkin-900: #ffe1cc;

	/* Success */
	--color-success: #10b981;
	--color-success-100: #03251c;
	--color-success-200: #064a37;
	--color-success-300: #096e53;
	--color-success-400: #0d936e;
	--color-success-500: #10b981;
	--color-success-600: #3ac79a;
	--color-success-700: #64d4b3;
	--color-success-800: #8ee1cc;
	--color-success-900: #b7eee5;

	/* Danger */
	--color-danger: #ef4444;
	--color-danger-100: #1f0e0e;
	--color-danger-200: #3e1b1b;
	--color-danger-300: #5d2929;
	--color-danger-400: #7c3636;
	--color-danger-500: #ef4444;
	--color-danger-600: #f26969;
	--color-danger-700: #f58f8f;
	--color-danger-800: #f8b4b4;
	--color-danger-900: #fcdada;
}
