.xdebug-switch-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: var(--color-bg-secondary);
}

.xdebug-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    display: block;
    object-fit: contain;
    width: 80px;
    height: 40px;
  }

  span {
    font-weight: 500;
  }
}

.xdebug-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  align-self: center;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    + .xdebug-slider {
      background-color: #4caf50;
    }

    &:checked + .xdebug-slider {
      background-color: #ffc107;

      &:before {
        transform: translateX(calc(40px - 14px - 6px));
      }
    }

    &:focus:not(:checked) + .xdebug-slider {
      box-shadow: 0 0 1px #4caf50;
    }

    &:focus:checked + .xdebug-slider {
      box-shadow: 0 0 1px #ffc107;
    }

    &:disabled + .xdebug-slider {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.xdebug-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
  }

  &.round {
    border-radius: 20px;

    &:before {
      border-radius: 50%;
    }
  }
}

.xdebug-toggling-message {
  margin-top: 8px;
  font-size: 0.85em;
  color: var(--color-text-secondary);
  text-align: center;
  font-style: italic;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
